<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SLoginControl</servlet-name>
        <servlet-class>Controlador.SLoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLoginInicio</servlet-name>
        <servlet-class>Controlador.SLoginInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarPerro</servlet-name>
        <servlet-class>Controlador.SListarPerro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLPerroLogin</servlet-name>
        <servlet-class>Controlador.ControladorLPerroLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLogin</servlet-name>
        <servlet-class>Controlador.SLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SLoginControl</servlet-name>
        <url-pattern>/SLoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLoginInicio</servlet-name>
        <url-pattern>\webapp\SLoginInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarPerro</servlet-name>
        <url-pattern>SListarPerro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLPerroLogin</servlet-name>
        <url-pattern>/ControladorLPerroLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLogin</servlet-name>
        <url-pattern>/SLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
